<html>
    <h1> Welcome </h1>
    <h2> California House Price Prediction</h2>

    <head>
        <form action="/house" method="POST">
            longitude:Enter in range(-124 to -114)
            <input name="longitude" type="text"> <br> <br>
            latitude:Enter in range(32 to 41)
            <input type="text" name="latitude"> <br> <br>
            housing_median_age:Enter in range(1 to 52)
            <input type="text" name="housing_median_age"> <br> <br>
            total_rooms:
            <input type="text" name="total_rooms"> <br> <br>
            total_bedrooms:
            <input type="text" name="total_bedrooms"> <br> <br>
            population:
            <input type="text" name="population"> <br> <br>
            households:
            <input type="text" name="households"> <br> <br>
            median_income:
            <input type="text" name="median_income"> <br> <br>
            ocean_proximity:<br><br>
            <label> NEAR BAY, 1H OCEAN ,INLAND ,NEAR OCEAN ,ISLAND </label> 
            <input type="text" name="ocean_proximity"> <br> <br>

            <input type="submit" value="PREDICT"> <br><br>











        </form>
        {{predict}}




    </head>
























</html>